body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100vh;
	background-color: #f2f2f2;
}

.sidebar {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.box h2 {
	font-size: 2rem;
	margin-bottom: 12px;
}

.box ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.box li {
	font-size: 1.2rem;
	margin-bottom: 5px;
}

.main {
	flex: 3;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card {
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 10px;
	text-align: center;
	max-width: 300px;
	background-color: #fff;
}

.card img {
	width: 100%;
	max-width: 300px;
	height: auto;
	margin-bottom: 10px;
}

.card h2 {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.card p {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.card button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.card button:hover {
	background-color: #0069d9;
}

@media screen and (max-width: 600px) {
	.container {
		flex-direction: column;
	}
	.sidebar {
		margin-bottom: 20px;
	}
}